.footer
    background-color: var(--dark-gray)
    padding-bottom: 20px    

    &__list
        display: flex
        flex-direction: column
        gap: 9px
        list-style-type: none
        margin-left: 25px 

    &__title
        font-family: Shrikhand
        font-size: 19px
        font-weight: 400
        margin: 20px 0 10px 0
        color: white

    &__text 
        display: flex 
        align-items: center
        a
            color: white
            font-size: 17px

    &__highlight
        font-weight: 500

    &__icon
        font-size: 13px
        width: 10px
        margin-right: 10px  
        