.header
  display: flex
  align-items: center
  margin-bottom: 5px
  height: 60px

  &__shadow
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3)

  &__arrow
    font-size: x-large
    color: var(--dark-gray)

    &__none
      display: none

  &__logo-link
    flex: 1
    text-align: center

  &__logo
    width: 200px
