//*********** Mixins ***********
  
// Animation iconCheck deselect
@mixin iconCheckDeselect()
  opacity: 1
  animation: iconCheckDeselect 0.2s ease-in-out forwards

@keyframes iconCheckDeselect
  from
    opacity: 1
    transform: translateX(0)
  to
    opacity: 0
    transform: translateX(15px)

// Animation iconCheck select
@mixin iconCheckSelect()
  opacity: 0
  animation: iconCheckSelect 0.5s ease-in-out forwards

@keyframes iconCheckSelect
  from
    opacity: 0
    transform: translateX(15px)
  to
    opacity: 1
    transform: translateX(0)

// Animation restaurantCard
@mixin restaurantCard($delay)
  opacity: 0
  animation: restaurantCard 0.5s ease-in-out forwards
  animation-delay: $delay

@keyframes restaurantCard
  from
    opacity: 0
    transform: translateX(200px)
  to
    opacity: 1
    transform: translateX(0) 