/****** General ***********/
.restaurant
  background-color: var(--background-gray)
  display: flex
  flex-direction: column
  gap: 20px
  padding: 50px 0 65px 0

/****** Cards ***********/
.restaurant__card
  display: flex
  justify-content: center

  &__content
    display: flex
    flex-direction: column
    background-color: white
    border-radius: 15px
    position: relative 

    img
      width: 346px
      height: 175px
      object-fit: cover
      object-position: bottom
      border-top-left-radius: 15px
      border-top-right-radius: 15px

  &__new
    position: absolute
    top: 15px
    right: 15px
    background-color: var(--tertiaire)
    color: var(--new-txt)
    padding: 6px 12px
    border-radius: 2px
    font-size: 14px
    font-weight: 500

  &__info
    padding: 15px 15px 20px 10px
    display: flex
    justify-content: space-between
    align-items: center
    color: black

  &__title
    font-size: 18px
    font-weight: 800
    margin-bottom: 5px

  &__subtitle
    font-size: 17px
    font-weight: 300

  &__icon
    font-size: x-large
    display: none

    &--deselect
      display: inline-block


  &__icon--button
    position: absolute
    margin: 52% 0 0 72%
    background-color: transparent
    border: none

    &:focus .restaurant__card__icon--deselect
      display: none

    &:focus .restaurant__card__icon--select
      display: inline-block
      background: linear-gradient(193deg,var(--primaire) -11%, var(--secondaire) 124%)
      /* Limite l'application de l'arrière-plan à la zone du texte. */
      background-clip: text
      /* Rend le texte transparent pour montrer l'arrière-plan à travers. */
      -webkit-text-fill-color: transparent
