.header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 5px;
}
.header__shadow {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}
.header__arrow {
  font-size: x-large;
  color: var(--dark-gray);
}
.header__arrow__none {
  display: none;
}
.header__logo-link {
  flex: 1;
  text-align: center;
}
.header__logo {
  width: 200px;
}
