.location {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 20px;
  font-size: 19px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
}
.location__icon {
  color: var(--dark-gray);
}
.location__text {
  margin-left: 15px;
  font-weight: 500;
  color: var(--dark-gray);
}
