.restaurantPage
  position: relative
  margin-top: -35px
  background-color: var(--background-gray)
  border-top-left-radius: 40px
  border-top-right-radius: 40px
  padding-bottom: 45px  

  &__title
    font-family: Shrikhand, sans-serif
    font-size: 28px
    font-weight: 400
    padding: 30px 0 28px 15px

  &__meal
    padding: 0 10px
    display: flex
    flex-direction: column
    gap: 12px
    margin-bottom: 45px

    &__title
      font-size: 16px
      font-weight: 300
      margin-bottom: 5px
      position: relative
      
      &::after
        content: ""
        position: absolute
        top: 23px
        left: 0
        width: 40px
        height: 3px
        background-color: var(--tertiaire) 

  &__card
    height: 55px
    border-radius: 15px
    box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1)
    padding: 10px 0 0 15px
    background-color: white
    display: flex
    flex-direction: column
    gap: 5px

    &__dinner
      font-size: 18px
      font-weight: 500

    &__info
      display: flex
      font-size: 15px
      font-weight: 300

      &__euro
        margin: 0 15px 0 auto
        font-weight: 700

  /*********** Animation like ***********/
  &__titleIcon
    display: flex

  &__like--button
    position: relative
    margin: 37px 0 0 33px
    background-color: transparent
    border: none

    .restaurantPage__like
      font-size: x-large
      display: none
      position: absolute
      top: 0
      left: 0

      &--deselect
        display: inline-block

      &--select
        display: none

      &--select
        opacity: 0
        display: block
        background: linear-gradient(0deg, var(--primaire) -12%, var(--secondaire) 124%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        clip-path: inset(0 0 100% 0)
        transition: clip-path 0.7s ease-in-out

      &--deselect
        opacity: 1
        transition: opacity 5s ease-in-out

    // Lors du hover
    &:hover .restaurantPage__like--select
      opacity: 1
      clip-path: inset(0 0 0 0)

    &:hover .restaurantPage__like--deselect
      opacity: 0

    // Effet inverse quand non-hover
    &:not(:hover) .restaurantPage__like--select
      opacity: 1
      clip-path: inset(100% 0 0 0)
      transition: clip-path 0.7s ease-in-out

    &:not(:hover) .restaurantPage__like--deselect
      opacity: 1

  /*********** Command btn ***********/
  &__button
    display: flex
    justify-content: center
    align-items: center
    width: 185px
    height: 50px
    border-radius: 25px
    color: white
    margin: 0 auto
    background: linear-gradient(0deg, var(--primaire) -12%, var(--secondaire) 124%)
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)
    transition: background 0.3s ease
    
    &:hover
      background: linear-gradient(-5deg, var(--primaire) -25%, var(--secondaire) 110%)
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35)